[merge]
	tool = p4merge
[diff]
	guitool = p4merge
[core]
	editor = code --wait
	autocrlf = true
[user]
	name = Michael Wolfenden
	email = michael.wolfenden@gmail.com
[mergetool "p4merge"]
	cmd = \"C:/Program Files/Perforce/p4merge.exe\" \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
	path = C:/Program Files/Perforce/p4merge.exe
[difftool "p4merge"]
	path = C:/Program Files/Perforce/p4merge.exe
	cmd = \"C:/Program Files/Perforce/p4merge.exe\" \"$LOCAL\" \"$REMOTE\"
[i18n]
	filesEncoding = utf-8
[alias]
    open = !explorer `git config remote.origin.url`